<div class="container">
  <ion-card>
    <ion-card-header>
      <ion-grid [fixed]="true" style="padding: 0;">
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto" class="center-grid">
            <img src="../../../../assets/images/icon-title.png" alt="icon" width="55" height="55">
            <ion-card-title >{{dataCard.title}}</ion-card-title>
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </ion-card-header>
  
    <ion-card-content>
      {{dataCard.description}}
    </ion-card-content>
  </ion-card>
</div>