.item-toolbar,
ion-header {
    border-radius: 0px 0px 21px 21px;
    min-height: 80px;
    --background: var(--ion-background-color-second);
}

.header-toolbar {
    padding: 8px;
    padding-top: 16px;
    border-radius: 0px 0px 21px 21px;
    background: var(--ion-background-color-second);
}

.item-toolbar h1 {
    font-size: 24px;
    font-family: Georgia, serif;
    margin: 0;
    margin-bottom: 0.5rem;
}

.item-toolbar p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 1rem;
}

.center-grid {
    align-items: center;
}