<div class="category-main">
    <div class="nav-cat" (click)="onClickMostrar()">
        <ion-item>
            <ion-icon [src]="getIcon(dataCategoria?.icono || '')" slot="start"></ion-icon>
            <h3>{{dataCategoria?.nombre || ''}} ({{cantidadGastos()}})</h3>
            <div class="p-label" slot="end">
                <p>({{getTotalCategoriaMonto()}})</p>
            </div>
        </ion-item>

    </div>
    <div class="center-grid">
        <div style="height: 1px; background-color: #EFF2F6; width: 80%; "></div>
    </div>


    <div *ngIf="mostrar" style="margin-bottom: 8px;">
        <ion-accordion-group expand="inset" *ngIf="isRecurrente">
            <ion-accordion *ngFor="let gasto of dataGasto" [value]="gasto.id">
                <ion-item slot="header" color="light">
                    <ion-label>{{gasto.titulo}}</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                   <app-detalle-recurrente [gastoData]="gasto" (changeToggle)="onChangeToggle($event,gasto)"></app-detalle-recurrente>
                </div>
            </ion-accordion>
        </ion-accordion-group>


        <div *ngIf="!isRecurrente">
            <div *ngFor="let gasto of dataGasto">
                <app-details-payment [dataGasto]="gasto" (click)="clickDetalle(gasto)"></app-details-payment>
            </div>
        </div>
    </div>

    <!-- <div>
        <ion-item>
            <p>Total:</p>
            <p slot="end">{{getTotalCategoriaMonto()}}</p>
        </ion-item>
    </div> -->
</div>