.nav-cat {
    margin-top: 4px;
    .p-label {
        p {
            font-size: 16px;
        }
    }
    h3 {
        width: 100%;
        margin-right: 8px;
        font-size: 16px;
    }
}

.category-main {
    background-color: var( --ion-background-color-second);
    box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.33);
    border-radius: 8px;
    padding: 8px;
}

ion-item {
    --min-height: 24px;
    --background: transparent;
    p {
        margin: 0px !important;
    }
    ion-icon {
        margin-right: 8px;
        font-size: 24px;
    }
}