<div class="category-main">
    <div class="nav-cat" (click)="onClickMostrar()">
        <ion-item>
            <ion-icon [src]="getIcon(dataCategoria?.icono || '')" slot="start"></ion-icon>
            <h3>{{dataCategoria?.nombre || ''}} ({{dataGasto.length}})</h3>
            <div class="p-label" slot="end">
                <p>({{getTotalCategoriaMonto()}})</p>
            </div>
        </ion-item>

    </div>
    <div class="center-grid">
        <div style="height: 1px; background-color: #EFF2F6; width: 80%; "></div>
    </div>


    <div *ngIf="mostrar" style="margin-bottom: 8px;">
        <div *ngFor="let gasto of dataGasto">
            <app-details-payment [dataGasto]="gasto"></app-details-payment>
        </div>
    </div>

    <!-- <div>
        <ion-item>
            <p>Total:</p>
            <p slot="end">{{getTotalCategoriaMonto()}}</p>
        </ion-item>
    </div> -->
</div>