<ion-header class="ion-no-border">
    <ion-toolbar>
        <app-banner-top [toolBarData]="toolBar"></app-banner-top>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-bg">
    <div class="menu-container">
        <div *ngFor="let cat of categoriaRow" class="menu-section">
            <h2 class="section-title">{{ cat.title }}</h2>
            
            <div class="menu-list">
                <ion-item *ngFor="let col of cat.listado" [routerLink]="[col?.routerLink || '/home']" lines="none" class="menu-item" detail="false">
                    <div class="menu-icon" slot="start">
                        <ion-icon [name]="col.icon || 'folder-outline'"></ion-icon>
                    </div>
                    
                    <ion-label>
                        <h3>{{ col.title }}</h3>
                        <p *ngIf="col.desc">{{ col.desc }}</p>
                    </ion-label>
                    
                    <ion-icon name="chevron-forward-outline" slot="end" class="chevron-icon"></ion-icon>
                </ion-item>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer class="ion-no-border">

</ion-footer>