<ion-content>
    <div>
        <div class="popup-backdrop" [ngClass]="{'popup-backdrop-bottom':sheetBottom}" (click)="closePopup()">

            <div class="popup-content" #popupContentBottom (click)="$event.stopPropagation()">

                <div class="upper-part">
                    <div class="close-button-container" *ngIf="!isButtonClsHidden">
                        <ion-icon class="close-button" name="close-outline" (click)="closePopup()"></ion-icon>
                    </div>
                    <ng-content></ng-content>

                </div>

            </div>
        </div>
    </div>
</ion-content>