:root.md {
    --ion-background-color: rgb(64, 64, 68);
    --ion-text-color: rgb(248, 248, 248);
    --ion-color-primary: #6190e2;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-success: #dfdfdf;
    --ion-color-danger: #e46868;
    /* Fondo general */
    --ion-text-color: #fcfcfc;
    --color-black-text-opacity70: rgba(63, 67, 87, 0.7);
    --Efectosefectos-elevancin-01: 4px;
    --Efectosefectos-elevancin-03: 12px;
    --esquina-04: 16px;
    --color-tag-white: #FFFFFF;
    --color-black-text: #051510;
    font-size: 16px;
}

.center-grid {
    display: grid;
    place-items: center;
}

.wrap-content {
    display: fit-content;
    background-color: lightblue;
    padding: 10px;
    align-items: center;
}

.trans-item {
    --background: none;
    --inner-border-width: 0px;
}