    .inputs-form {
        margin: 16px;
        // overflow-y: scroll;
        // height: auto;
        //max-height: calc(100vh - (250px + 52px));
        //box-sizing: content-box;
    }
    
    .inputs-ion {
        .input:first-child {
            margin-top: 0 !important;
        }
        .input {
            margin-top: 24px;
        }
    }
    
    .button-action {
        --background: var(--ion-color-primary);
        --color: var(--ion-color-primary-contrast);
        margin: 24px 16px;
        margin-bottom: 8px;
    }
    
    ion-footer {
        background: var(--ion-background-color);
    }