<app-modal-template [isOpen]="isOpen" (closeModal)="closeModal.emit()">
  <ion-title modal-title style="font-size: 16px; font-weight: 700;">
    Editar Servicio
  </ion-title>
  
  <div class="form-section">
    <app-dynamic-form [fields]="fields"></app-dynamic-form>

    <div class="sub-item-actions ion-margin-top" style="display: flex; align-items: center; background: rgba(0, 0, 0, 0.15); padding: 12px; border-radius: 12px; margin-bottom: 24px;">
      <div class="action-left" style="display: flex; align-items: center; gap: 12px; width: 100%;">
        <span style="color: #8c9ba5; font-size: 13px; font-weight: 500; flex: 1; line-height: 1.4;">Aplicar nuevo nombre y monto a los meses generados</span>

        <div class="action-left">
          <ion-toggle mode="ios"  [(ngModel)]="editData.aplicarAtodos" (ionChange)="toggleAll.emit($event)"></ion-toggle>
        </div>

      </div>
    </div>

    <ion-button expand="block" class="button-action-main ion-margin-top" shape="round" (click)="guardar()">
     Guardar Cambios
    </ion-button>
  </div>

  <div class="history-section ion-margin-top">
    <h3 class="history-title">Historial Generado</h3>

    <div *ngIf="gastosHistoricos.length === 0" class="no-history">
      <p>No hay gastos registrados para este servicio todavía.</p>
    </div>

    <ion-list lines="none" class="history-list" *ngIf="gastosHistoricos.length > 0">
      <ion-item *ngFor="let gasto of gastosHistoricos" class="history-item">

        <ion-checkbox slot="start" mode="ios" [checked]="gasto.estado === 1"
          (ionChange)="gasto.estado = $event.detail.checked ? 1 : 0"
          class="history-checkbox"></ion-checkbox>

        <ion-label>
          <h2>{{ gasto.titulo }}</h2>
          <p class="gasto-date">{{ gasto.fecha | date:'MMMM yyyy' | titlecase }}</p>
          <p class="gasto-date" [style.color]="gasto.estado === 1 ? '#00d09c' : '#8c9ba5'">
            {{ printStado(gasto.estado) }}
          </p>
        </ion-label>
        <div slot="end" class="history-end">
          <span class="gasto-amount">GTQ {{ gasto.monto | number:'1.2-2' }}</span>
          
          <ion-icon [src]="getIcon('create-outline')"  class="edit-history-btn"
            (click)="editarGasto.emit(gasto)"></ion-icon>
          <ion-icon [src]="getIcon('trash-outline')"  class="delete-history-btn"
            (click)="eliminarGasto.emit(gasto.id)"></ion-icon>
          <div *ngIf="gasto.estado == 2" (click)="restablecerGasto.emit(gasto)"> <ion-icon
              [src]="getIcon('refresh-outline')"></ion-icon>
          </div>

        </div>
      </ion-item>
    </ion-list>
  </div>
</app-modal-template>

