<div class="box-details">
    <div class="status"></div>
    <div class="detl-main">
        <div>
            <div class="detl-title">
                <h3>Unidad</h3>
            </div>
        </div>
        <main>

            <ion-grid>
                <ion-row>

                    <ion-col class="col-item-left">
                        <div class="col-amount">
                            <p>Monto:</p>
                        </div>
                        <!-- <div class="col-tipo">
                            <p>Tipo:</p>
                        </div> -->
                        <div class="col-tipo">
                            <p>Cuota:</p>
                        </div>
                    </ion-col>

                    <ion-col class="col-item-right">
                        <div class="col-amount-rg">
                            <p>Q3000</p>
                        </div>
                        <!-- <div>
                            <p>Normal</p>
                        </div> -->

                        <div>
                            <p>2/12</p>
                        </div>
                    </ion-col>

                </ion-row>
                <!-- <ion-row>
                    <ion-col class="col-item-left">
                        
                    </ion-col>
                </ion-row> -->


            </ion-grid>

            <div class="chip chip-scroll">
                <ion-chip>Default</ion-chip>
                <ion-chip>Default</ion-chip>
                <ion-chip>Default</ion-chip>
                <ion-chip>Default</ion-chip>
                <ion-chip>Default</ion-chip>
                <ion-chip>Default</ion-chip>
                <ion-chip>Default</ion-chip>
                <ion-chip>Default</ion-chip>


            </div>
        </main>
    </div>

</div>