<div class="box-details" *ngIf="dataGasto" [ngClass]="{'box-detalle':tipo === 'detalle'}">
    <div class="status" [style]="{'background-color': getStatusGasto()}"></div>
    <div class="detl-main">
        <div *ngIf="tipo === 'normal'">
            <div class="detl-title">
                <h3>{{dataGasto.titulo}}</h3>
            </div>
        </div>
        <main>

            <ion-grid>
                <ion-row>
                    <ion-col class="col-item-left">
                        <div class="col-amount">
                            <p *ngIf="!isCuota">Monto:</p>
                            <div *ngIf="isCuota">
                                <!-- <p>Monto Total:</p> -->
                                <p>Monto Mensual:</p>
                                <!-- <p>Monto Faltante:</p> -->
                            </div>
                        </div>
                        <!-- <div class="col-tipo">
                            <p>Tipo:</p>
                        </div> -->
                        <div class="col-tipo">
                            <p>{{isCuota?'Cuota':'Tipo'}}</p>
                        </div>
                    </ion-col>

                    <ion-col class="col-item-right">
                        <div class="col-amount-rg">
                            <p *ngIf="!isCuota">{{formatoMonto(0)}}</p>
                            <div *ngIf="isCuota">
                                <!-- <p>{{formatoMonto(0)}}</p> -->
                                <p>{{formatoMonto(1)}}</p>
                                <!-- <p>{{formatoMonto(2)}}</p> -->
                            </div>
                        </div>
                        <!-- <div>
                            <p>Normal</p>
                        </div> -->

                        <div>
                            <p>{{formatoCuotas()}}</p>
                        </div>
                    </ion-col>

                </ion-row>
                <!-- <ion-row>
                    <ion-col class="col-item-left">
                        
                    </ion-col>
                </ion-row> -->


            </ion-grid>

            <!-- <div class="chip chip-scroll">
                <ion-chip>Default</ion-chip>
            </div> -->
        </main>
    </div>

</div>