.detl-main {
    width: 97%;
    margin: 4px 0px;
}

.box-details {
    display: flex;
    margin-top: 4px;
    background-color: var(--ion-background-color-second);
    border-bottom: 2px solid rgb(235, 233, 233);
    color: rgb(255, 250, 250);
    padding: 8px;
    .status {
        width: 4px;
        height: auto;
        margin-right: 6px;
        background-color: var(--color-blue-primary);
    }
}

.box-detalle {
    p {
        font-size: 18px;
    }
}

.detl-title:last-child {
    text-align: center;
    margin: 0;
}

.col-item-right {
    text-align: right;
}

.chip {
    box-sizing: unset;
}

.chip ion-chip {
    // width: max-content;
    font-size: 12px;
}