<div class="box-details">
  <div class="status"></div>
  <div class="detl-main">
    <div>
      <div class="detl-title">
        <h3>Unidad</h3>
      </div>
    </div>
    <main>

      <ion-grid>
        <ion-row>

          <ion-col class="col-item-left">
            <div class="col-amount">
              <p>Monto Mensual:</p>
            </div>
            <div class="col-quotas-amount">
              <p>Monto Total Pagado:</p>
            </div>
            <div class="col-tipo">
              <p>Pagado</p>
            </div>
          </ion-col>

          <ion-col class="col-item-right">
            <div class="col-amount-rg">
              <p>Normal</p>
            </div>
            <div class="col-quotas-amount-rg">
              <p>Normal</p>
            </div>
            <div>
              <p>Normal</p>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </main>
  </div>

</div>