<div class="custom-tabs">
    <ion-tabs>

        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="home">
                <ion-icon name="home-outline"></ion-icon>
                Home
            </ion-tab-button>
            <ion-tab-button tab="create-payment">
                <ion-icon name="clipboard-outline"></ion-icon>
                Nuevo
            </ion-tab-button>
            <ion-tab-button tab="add-payment">
                <ion-icon name="star-outline"></ion-icon>
                Favoritos
            </ion-tab-button>
            <ion-tab-button tab="category">
                <ion-icon name="file-tray-stacked-outline"></ion-icon>
                Categorías
            </ion-tab-button>
        </ion-tab-bar>

    </ion-tabs>
</div>