<ion-header class="ion-no-border">
    <ion-toolbar>
        <app-banner-top [toolBarData]="toolBar"></app-banner-top>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
    <div *ngIf="gasto?.tipo === 'recurrente'">
        <ion-item class="trans-item">
            <p class="txt-item">Restablecer:</p>
            <div slot="end" (click)="refreshRecurrente()"> <ion-icon [src]="getIcon('refresh-outline')"
                    style="margin-left: 8px;"></ion-icon>
            </div>
        </ion-item>
    </div>
    <div *ngFor="let item of listadoDetalle">
        <ion-item class="trans-item">
            <p slot="start">{{item.titulo}}</p>
            <p slot="end" class="txt-item" style="margin-right: 0px !important;">{{item.valor}}</p>
        </ion-item>
    </div>
    <div *ngIf="listadoDetalle.length" style="height: 1px; background-color: #EFF2F6; margin: 0.5rem 1rem;"></div>

    <div>
        <div class="inputs-form">
            <div class="inputs-ion">
                <form #f="ngForm">
                    <div class="input" *ngFor="let form of listaFormulario">
                        <div [ngSwitch]="form.tipo">

                            <div *ngSwitchCase="'select'">
                                <selector-simple [defaultSelect]="false"
                                    [open]="this.showPopup && tipoModalUse === 'select'"
                                    [valueSelect]="form.valueSelect" [icon]="form.icon"
                                    (clickItem)="onClickItemAction(form)" [label]="form.titulo" [name]="form.id"
                                    [required]="form.required" [placeholder]="form.placeholder"
                                    [list]="form?.list || []" [(ngModel)]="form.valueSelect"
                                    (ionChange)="ionChangeInput(form)"></selector-simple>
                            </div>
                            <div *ngSwitchCase="'date'">
                                <input-simple (click)="clickDateModal(form)" [label]="form.titulo" [name]="form.id"
                                    [required]="form.required" type="date" [placeholder]="form.placeholder"
                                    [(ngModel)]="form.valueSelect" (ionBlur)="blurInput(form)"
                                    (ionInput)="ionChangeInput(form)" [readonly]="true"></input-simple>
                            </div>

                            <div *ngSwitchDefault>
                                <input-simple [label]="form.titulo" [name]="form.id" [required]="form.required"
                                    [type]="form.tipo" [placeholder]="form.placeholder" [(ngModel)]="form.valueSelect"
                                    (ionBlur)="blurInput(form)" (ionInput)="ionChangeInput(form)"></input-simple>
                            </div>

                        </div>

                    </div>
                </form>

                <ion-toggle [checked]="isCheckCancel"  [(ngModel)]="isCheckCancel">{{!isCheckCancel ? 'Cancelar:':'Pagado:'}}</ion-toggle>

                <div style="margin-top: 24px;" *ngIf="gasto?.tipo === 'normal'">
                    <ion-toggle (ionChange)="ionChangeToggle()" aria-label="Enable Notifications" [checked]="isCheck"
                        [(ngModel)]="isCheck">Actualizar a
                        Recurrente:</ion-toggle>
                </div>




            </div>
            <p style="padding-top: 16px;">{{notaMsg}}</p>

        </div>
    </div>
    <div class="footer-button" style="margin: 16px;">
        <!-- <ion-button class="button-action-second" expand="block" (click)="updatePayment()"
            [disabled]="disabledButton">Actualizar</ion-button> -->

        <app-button-simple textLeft="Actualizar" textRight="Eliminar" [isRightbtnHiden]="isDeleteHiden"
            (clickRigthButton)="deletePayment()" (clickLeftButton)="updatePayment()"></app-button-simple>

    </div>


</ion-content>


<!-- Modal Selector de Categoría Premium -->
<ion-modal [isOpen]="showPopup && tipoModalUse === 'select'" (didDismiss)="closePopupClick()" initialBreakpoint="0.6" [breakpoints]="[0, 0.6, 0.9]">
    <ng-template>
        <ion-header class="ion-no-border">
            <ion-toolbar class="modal-toolbar">
                <ion-title>Elegir Categoría</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="closePopupClick()">
                        <ion-icon name="close-outline"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        
        <ion-content class="ion-padding custom-bg">
            
            <div class="category-list-selector" *ngIf="dataListaSelect.length > 0">
                <div class="cat-item" *ngFor="let data of dataListaSelect" (click)="onClickItem(data)">
                    <div class="icon-circle">
                        <ion-icon [src]="getIcon(data.icon || '')"></ion-icon>
                    </div>
                    <span>{{data.value}}</span>
                    <ion-icon name="chevron-forward-outline" class="forward-icon"></ion-icon>
                </div>
            </div>

            <div *ngIf="dataListaSelect.length === 0" class="empty-cat">
                <empty-base [dataCard]="dataCard"></empty-base>
            </div>

            <ion-button class="btn-create-cat" expand="block" shape="round" (click)="goToNuevaCategoria()">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                Crear Nueva Categoría
            </ion-button>
            
        </ion-content>
    </ng-template>
</ion-modal><!-- Modal Date Picker -->
<ion-modal [isOpen]="showPopup && tipoModalUse === 'date'" (didDismiss)="closePopupClick()" class="date-modal" initialBreakpoint="0.5" [breakpoints]="[0, 0.5]">
    <ng-template>
        <ion-header class="ion-no-border">
            <ion-toolbar class="modal-toolbar">
                <ion-title>Seleccionar Fecha</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="closePopupClick()">
                        <ion-icon name="close-outline"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding custom-bg">
            <ion-datetime presentation="month-year" doneText="OK" cancelText="Cancelar"
                (ionChange)="onMonthYearChange($event)" class="custom-date" [value]="dataSelect?.valueSelect || ''"
                [max]="maxYear">
            </ion-datetime>
        </ion-content>
    </ng-template>
</ion-modal>
